@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-title-wrap h2 {
  font: bold 38px  Montserrat;
  text-align: center;
  margin: 135px  0 0 0;
}

.content-title-wrap h3 {
  font: 400 17px  Merriweather;
  color: #848585;
  text-align: center;
  margin: 10px 0 135px 0;
}

html {
  overflow-x: hidden;
}

html body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body header {
  height: 100vh;
}

.body {
  width: 100vw;
}

.wrapper {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
}

.section-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.section-header-navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.section-header-navigation_logo {
  display: inline-block;
  font: 900 17px Montserrat;
  text-transform: uppercase;
  border: 5px solid black;
  padding: 3px 7px 4px;
}

.section-header-navigation_logo span {
  color: #79eae2;
  font-size: 24px;
}

.section-header-navigation_nav {
  width: 40px;
  height: 40px;
  border: 2px solid black;
}

.section-header-navigation_menu {
  display: none;
  position: absolute;
  left: 15%;
  width: 800px;
  height: 1500px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-header-title {
  width: 980px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-header-title h1 {
  text-transform: uppercase;
  font: bold 45px Montserrat;
  text-align: center;
  color: #505050;
  text-shadow: 8px 8px 8px #b2b2b2;
}

.section-header-title h1 span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #79eae2;
  padding: 0 7px;
}

.section-header-button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-header-button a {
  display: inline-block;
  width: 230px;
  height: 55px;
  font: 400 18px Montserrat;
  text-transform: uppercase;
  border: 3px solid #777879;
  color: #777879;
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

.content-title-wrap h2 {
  text-transform: uppercase;
}

.content-title-wrap h3 {
  text-transform: uppercase;
}

.section-about {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-about-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-about-content_slider {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-about-content_slider-img {
  width: 485px;
  height: 485px;
  position: relative;
}

.section-about-content_slider-img-back {
  width: 485px;
  height: 380px;
  background: #ecedef;
  position: absolute;
  top: 10%;
  right: 0;
}

.section-about-content_slider-img-foregr {
  width: 400px;
  height: 485px;
  background: url("../img/Rectangle.png") center/cover no-repeat;
  position: absolute;
  top: 0;
  right: 10%;
}

.section-about-content_slider-swith {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.section-about-content_slider-swith a {
  display: inline-block;
  border-radius: 50%;
  background: #d0d0d0;
  width: 10px;
  height: 10px;
  margin: 0 2px;
}

.section-about-content_slider-swith a:hover {
  background-color: #79eae2;
}

.section-about-content_text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.section-about-content_text h4 {
  text-transform: uppercase;
  font: bold 20px Merriweather;
  padding-left: 70px;
  padding-top: 20px;
}

.section-about-content_text h5 {
  text-transform: uppercase;
  font: bold 17px Merriweather;
  padding-left: 70px;
  padding-top: 60px;
}

.section-about-content_text p {
  font: 400 16px Raleway;
  padding-left: 70px;
  padding-top: 30px;
  padding-right: 30px;
}

.section-works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 730px;
  width: 1140px;
}

.section-works-content_box {
  display: inline-block;
  width: 370px;
  height: 360px;
}

.section-works-content .ONE {
  background: url("../img/works/works1.png") center/cover no-repeat;
}

.section-works-content .TWOO {
  background: url("../img/works/works2.png") center/cover no-repeat;
}

.section-works-content .THREE {
  background: url("../img/works/works3.png") center/cover no-repeat;
}

.section-works-content .FOUR {
  background: url("../img/works/works4.png") center/cover no-repeat;
}

.section-works-content .FIVE {
  background: url("../img/works/works5.png") center/cover no-repeat;
}

.section-works-content .SIX {
  background: url("../img/works/works6.png") center/cover no-repeat;
}

.section-team-content {
  height: 900px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: relative;
}

.section-team-content-box {
  width: 370px;
  height: 440px;
}

.section-team-content .f-one {
  background: url("../img/team/team1.png") center/cover no-repeat;
}

.section-team-content .f-twoo {
  background: url("../img/team/team5.png") center/cover no-repeat;
}

.section-team-content .f-three {
  background: url("../img/team/team4.png") center/cover no-repeat;
}

.section-team-content .f-four {
  background: url("../img/team/team3.png") center/cover no-repeat;
}

.section-team-content .f-five {
  background: url("../img/team/team2.png") center/cover no-repeat;
}

.section-team-content .f-six {
  background: url("../img/team/team1.png") center/cover no-repeat;
}

.footer {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
}

.footer-content {
  width: 100%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background: url("../img/footer-back.png") center/cover no-repeat;
  position: relative;
  z-index: 1;
}

.footer-content::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.7);
}

.footer-content-form {
  height: 65%;
  width: 50%;
  background: #425460;
  opacity: 0.8;
  z-index: 5;
  padding: 3%;
}

.footer-content-contacts {
  height: 65%;
  width: 45%;
  background: #425460;
  opacity: 0.8;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-content-contacts_connect {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-content-contacts_map {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-content-contacts_map iframe {
  width: 90%;
  height: 90%;
  border: none;
  margin: 0 5%;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.footer-bottom {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #262b2e;
}

.contact-wrap {
  opacity: 0.7;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.contact-wrap p {
  margin-left: 10%;
  color: #fff;
  font: 400 15px/1.5 Raleway;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.7;
}

.form input {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  height: 60px;
  font: 400 15px/1.5 Raleway;
}

.form input::-webkit-input-placeholder {
  color: #fff;
  font: 400 15px/1.5 Raleway;
}

.form input:-ms-input-placeholder {
  color: #fff;
  font: 400 15px/1.5 Raleway;
}

.form input::-ms-input-placeholder {
  color: #fff;
  font: 400 15px/1.5 Raleway;
}

.form input::placeholder {
  color: #fff;
  font: 400 15px/1.5 Raleway;
}

.form textarea {
  margin-top: 10%;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  font: 400 15px/1.5 Raleway;
}

.form textarea::-webkit-input-placeholder {
  display: inline-block;
  color: #fff;
  font: 400 15px/1.5 Raleway;
}

.form textarea:-ms-input-placeholder {
  display: inline-block;
  color: #fff;
  font: 400 15px/1.5 Raleway;
}

.form textarea::-ms-input-placeholder {
  display: inline-block;
  color: #fff;
  font: 400 15px/1.5 Raleway;
}

.form textarea::placeholder {
  display: inline-block;
  color: #fff;
  font: 400 15px/1.5 Raleway;
}

.btn {
  margin-top: 5%;
  width: 250px;
  height: 55px;
  color: black;
  font: 400 18px Montserrat;
  background-color: #6eeee4;
  border: none;
}

.btn:hover {
  -webkit-box-shadow: 0 0 10px black inset;
          box-shadow: 0 0 10px black inset;
  cursor: pointer;
}
